#portfolio {
    z-index: 1;
    background-color: #923cb5;
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
  }
  
  #portfolio h2 {
    color: rgba(255, 255, 255, 0.8);
    display: block;
    margin-bottom: 30px;
  }
  
  #portfolio .portfolio--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  #portfolio .portfolio--content .item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    position: relative;
    background-color: #cb2027;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  
  #portfolio .portfolio--content .item h3 {
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  
  #portfolio .portfolio--content .item img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  #portfolio .portfolio--content .item:hover > h3 {
    opacity: 1;
  }
  
  #portfolio .portfolio--content .item:hover > img {
    opacity: 0.3;
  }


  #particular_portfolio{
    height: 30%;
    width: 40%;
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  
    text-align: center;
    border: 1px solid #222;
    padding: 80px 1px;
    margin-bottom: 30px;
    border-width: 5px 5px 5px 5px;
    -o-border-image: linear-gradient(45deg, #ff9800 0%, purple 100%);
       border-image: linear-gradient(45deg, #ff9800 0%, purple 100%);
    border-image-slice: 9;
    border-style: solid;
    
  }
  
  #particular_portfolio img{
    
    width: 90%;
    height: 0%;
  }
  
  #particular_portfolio:hover > h3 {
    margin-top: 50px;
    opacity: 1;
  }
  
  #particular_portfolio:hover > img {
    opacity: 0.3;
  }
  

  @media screen and (max-width: 768px) {
    #particular_portfolio {
    height: 30%;
    width: 40%;
    -ms-flex-preferred-size: 20%;
        flex-basis: 100%;
  
    text-align: center;
    border: 1px solid #222;
    padding: 80px 1px;
    margin-bottom: 30px;
    border-width: 5px 5px 5px 5px;
    -o-border-image: linear-gradient(45deg, #ff9800 0%, purple 100%);
       border-image: linear-gradient(45deg, #ff9800 0%, purple 100%);
    border-image-slice: 9;
    border-style: solid;
    }
  }


  